[Unit]
Description=Kubernetes Slack Notifier (image pull failures)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/pod_image_failure_notifier.sh
Restart=on-failure
RestartSec=5
Environment=SLACK_WEBHOOK_URL= ***
Environment=KUBECONFIG=/home/user/.kube/config

[Install]
WantedBy=multi-user.target
