[Unit]
Description=Kubernetes Slack Notifier (image pull failures)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/pod_image_failure_notifier.sh
Restart=on-failure
RestartSec=5
Environment=SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
Environment=KUBECONFIG=/home/x7giftailor/.kube/config

[Install]
WantedBy=multi-user.target
